@font-face {
  font-family: "roc grotesk";
  src: url("roc_grotesk_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roc grotesk wide";
  src: url("roc_grotesk_wide_bold.woff") format("woff");
}

@font-face {
  font-family: "ivy mode";
  src: url("ivy_mode.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ivy mode";
  src: url("ivy_mode_italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

.display {
  font-family: "ivy mode";
  line-height: 1.25em;
}

.big-font {
  font-size: 48px;
}
.big-ish-font {
  font-size: 32px;
}

.wide {
  font-family: "roc grotesk wide";
}

@media (max-width: 1365px) {
  html {
    font-size: 12px !important;
  }
}

@media (min-width: 3840px) {
  html {
    font-size: 32px !important;
  }
}
